@tailwind base;
@tailwind components;
@tailwind utilities;

#scrollbar::-webkit-scrollbar{
    width: 10px;
    height: 100%;
}


#scrollbar::-webkit-scrollbar-thumb {
    background-color: #b3a3ae;
    border-radius: 20px;     
    /* border: 1px solid #ffa3c8; */
  }